<h1>This is the search result</h1>

<ul>
    <li>Name: {{name}}</li>
    <li>Size: {{size}}</li>
    <li>Color: {{color}}</li>
</ul>

<ul>
    <li>Username: {{username}}</li>
    <li>Pass: {{password}}</li>
</ul>